<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}" media="screen" type="text/css">
    <link rel="stylesheet" href="{{ '/assets/css/print.css' | relative_url }}" media="print" type="text/css">

    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->

{% seo %}

    {% include head-custom.html %}
  </head>

  <body>
    <header style="height: fit-content; margin-top:5%; margin-bottom: 3%;">
      <div class="inner">
        <img src="/assets/images/dex-pump.png" alt="DEX-PUMP" width="100%" height="auto"> 
        <!--<a href="{{ '/' | absolute_url }}">
          <h1>{{ site.title | default: site.github.repository_name }}</h1>
        </a>
        <h2>{{ site.description | default: site.github.project_tagline }}</h2>
        {% if site.github.is_project_page %}
          <a href="{{ site.github.repository_url }}" class="button"></a>
        {% endif %}
        {% if site.github.is_user_page %}
         <a href="{{ site.github.owner_url }}" class="button"><small></small></a>
        {% endif %}-->
      </div>
    </header>

    <div id="content-wrapper">
      <div class="inner clearfix">
        <section id="main-content">
          {{ content }}
        </section>

       <aside id="sidebar">
        <h1>Contact Us</h1>
         <h3><A HREF="&#109;&#97;&#105;&#108;&#116;&#111;&#58;%67%72%65%67%40%64%65%78%2D%70%75%6D%70%2E%63%6F%6D">Greg McGowen, CEO</A></h3>
         <h3><A HREF="&#109;&#97;&#105;&#108;&#116;&#111;&#58;%6A%6F%68%6E%40%64%65%78%2D%70%75%6D%70%2E%63%6F%6D">John Frick, Partner</A></h3>
          <!--{% if site.show_downloads %}
            <a href="{{ site.github.zip_url }}" class="button">
              <small>Download</small>
              .zip file
            </a>
            <a href="{{ site.github.tar_url }}" class="button">
              <small>Download</small>
              .tar.gz file
            </a>
          {% endif %}-->

          <!--{% if site.github.is_project_page %}
            <p class="repo-owner"><a href="{{ site.github.repository_url }}">{{ site.github.repository_name }}</a> is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a>.</p>
          {% endif %} -->

          <p></p>
        </aside>
      </div>
    </div>

  </body>
</html>
